<!DOCTYPE html>
  <head>
        <title>Tea Leaves</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
        <!--<link rel="stylesheet" media="(max-width: 640px)" href="max-640px.css">-->
        <!--<link rel="stylesheet" media="(min-width: 320px)" href="min-320px.css">-->
        <!--<link rel="stylesheet" media="(orientation: portrait)" href="portrait.css">-->
        <!--<link rel="stylesheet" media="(orientation: landscape)" href="landscape.css">-->
        <link rel="stylesheet" href="/stylesheets/landing.css" media="screen">
        <!--<link rel="stylesheet" href="/stylesheets/print.css" media="print"> 
        if you want to make a printable version + need to make a print.css file-->
        <meta name="viewport" content="width=device-width" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Tea Leaves!</h1>
		<a href="/recipes" class="btn btn-lg">Get Started</a>
    </div>
    
    <ul class="slideshow">
      <li class="img-fluid"></li>
      <li class="img-fluid"></li>
      <li class="img-fluid"></li>
      <li class="img-fluid"></li>
      <li class="img-fluid"></li>
    </ul>
</body>
</html>