<% include ./partials/header %>

 <div class="ui main text container segment">
     <div class="ui huge header">New Recipe</div>
     <form class="ui form" action="/recipes" method="POST">
         <div class="field">
             <label>Title</label>
             <input type="text" name="recipe[title]" placeholder="title">
         </div>
         <div class="field">
             <label>Image</label>
         <input type="text" name="recipe[image]" placeholder="image">
         </div>
         <div class="fields">
          <div class="field">
             <label>Difficulty</label>
             <select class="ui fluid search dropdown" name="recipe[difficulty]">
              <option value="Easy">Easy</option>
              <option value="Average">Average</option>
              <option value="Difficult">Difficult</option>
             </select>
          </div>
          <div class="field">
             <label>Preparation</label>
             <input type="text" name="recipe[preparation]" placeholder="minutes">
          </div>
          <div class="field">
             <label>Cooking</label>
             <input type="text" name="recipe[cooking]" placeholder="minutes">
          </div>
          <div class="field">
             <label>Portion</label>
             <input type="text" name="recipe[portion]" placeholder="persons">
          </div>
         </div>
         <div class="field">
             <label>Recipe content</label>
         <textarea name="recipe[body]"></textarea>
         </div>
         <input class="ui big brown inverted button" type="submit">
     </form>
     </div>
 </div>

<% include ./partials/footer %>