html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Delius', cursive;
}

header{
    background-image: url(https://images.unsplash.com/photo-1508014861016-f37cdf89e94d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1464&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px #660000;
}

header .btn {
    background-color: rgba(255, 210, 76, 0.7);
    text-shadow: 1px 1px 1px #660000;
}

.container.main {
    margin-top: 7em;
}

#mainNav {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000;
    background-color: #660000;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover {
    font-weight: bold;
}

/*#homepage .card-title {*/
/*   color: #660000;*/
/*}*/

#homepage .card-body .btn {
    background-color: rgba(255, 210, 76, 0.7);
}

.card-title {
    color: #660000;
    text-shadow: 1px 1px 1px #000;
}

#homepage .card-title:hover{
    font-weight: 900;
    
    text-decoration: none;
}

.card-link:hover {
    color: #fff;
    font-weight: bold;
}

.btn:hover {
  text-shadow: 1px 1px 1px #fff;
}

#regularbtn {
    background-color: rgb(255, 210, 76);
}

.huge.header {
    color: #4c0000;
}

.icon {
    font-size: 2em;   
}

.red {
    color: #8b3e2f;
}

#delete {
    display: inline;
    color: #660000;
}

.ui.inverted.table {
    width: 400px;
    text-align: center;
    float: right;
}

.ui.inverted.table th {
    color: #4c0000 !important;
}

.ui.table thead {
    background-color: #e5ba33;
    color: #4c0000;
}

#yelbody {
    background-color: rgba(255, 210, 76, 0.7);
    color: #4c0000;
}

/*#title {*/
/*    color: #4c0000;*/
/*}*/

.ui.container.segment {
    margin: auto;
    padding: auto;
}

.card-inverse {
    border: none;
}

.card-inverse img {
    padding: 0;
    min-width: 208px;
    min-height: 312px;
    /*991px*/
}
.card-inverse li {
    line-height: 2;
    font-size: 16px;
    text-shadow: 2.5px 2.5px 2.5px #000000;
    font-weight: 400;
    padding: auto;
}

.card-inverse li:hover {
    color: #ffffff;
    text-shadow: 2.5px 2.5px 2.5px #000000;
    font-weight: 400;
    font-size: 16px;
    padding: auto;
}