html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
  margin-bottom: 60px;
}

.container.main {
    margin-top: 7em;
}

#navbar {
    color: white;
    /*text-shadow: 1px 1px 1px #000;*/
    background-color: #660000;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

.huge.header {
    color: #4c0000;
}

.icon {
    font-size: 2em;   
}

.red {
    color: #8b3e2f;
}

#delete {
    display: inline;
    color: #660000;
}

.ui.inverted.table {
    width: 400px;
    text-align: center;
    float: right;
}

.ui.inverted.table th {
    color: #4c0000 !important;
}

.ui.table thead {
    background-color: #e5ba33;
    color: #4c0000;
}

#yelbody {
    background-color: rgb(255, 210, 76);
    color: #4c0000;
}

.fields {
    color: #4c0000;
}

#title {
    color: #4c0000;
}

.ui.container.segment {
    margin: auto;
    padding: auto;
}

.card-img-overlay p {
    text-shadow: 2.5px 2.5px 2.5px #000000;
    font-weight: 200;
    font-size: medium;
    padding: auto;
}
.card-img-overlay p:hover {
    color: #ffffff;
    text-shadow: 2.5px 2.5px 2.5px #000000;
    font-weight: 200;
    font-size: medium;
    padding: auto;
}

.card-inverse {
    border: none;
}

.card-inverse img {
    padding: 0;
    min-width: 208px;
    min-height: 312px;
    /*991px*/
}

