<% include ../partials/header %>

 <div class="container">
    <div class="row justify-content-center col-12">
     <div class="text-center my-4 justify-content-center">
      <h1>Create a New Recipe</h1>
      </div>
      <div class="col-9">
      <form action="/recipes" method="POST">
       <div class="form-group">
           <label for="title" class="text-center">Title</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="title">
        </div>
        <div class="form-group">
           <label for="image" class="text-center">Image</label>
        <input class="form-control" type="text" name="image" id="image" placeholder="image">
        </div>
        
        <div class="container">
         
         <p>
         <label for="difficulty" class="text-center">Difficulty</label>
         <select id="difficulty" class="col-6 justify-content-center" type="text" name="difficulty">
          <option value="difficulty">Choose...</option>
              <option value="easy">Easy</option>
              <option value="average">Average</option>
              <option value="difficult">Difficult</option>
         </select>
         </p>
       
          <div class="form-group">
             <label for="preparation" class="text-center">Preparation</label>
             <input class="form-control" type="text" name="preparation" id="preparation" placeholder="minutes">
          </div>
          <div class="form-group">
             <label for="cooking" class="text-center">Cooking</label>
             <input class="form-control" type="text" name="cooking" id="cooking" placeholder="minutes">
          </div>
          <div class="form-group">
             <label for="portion" class="text-center">Portion</label>
             <input class="form-control" type="text" name="portion" id="portion" placeholder="persons">
          </div>
          <div class="form-group">
              <label for="cost" class="text-center">Cost</label>
              <input class="form-control" type="number" name="cost" id="cost" placeholder="5.00" step="0.01" min="0" required>
          </div>
         
         </div>
         
        <div class="form-group">
           <label for="textarea" class="text-center col-12">Recipe content</label>
            <textarea id="textarea" rows="20" type="text" placeholder="description" id="description" name="description"></textarea>
          <!--<input class="form-control" type="text" placeholder="description" name="description" id="description">-->
        </div>
        <div class="form-group">
           <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
    </form>
    <a href="/recipes">Go Back</a>
   </div>
  </div>
</div>

<% include ../partials/footer %>